<html>
<div class="sysOverview">

  <div class="piponicsHeader">
    <h1>PiPonics Web UI</h1>
  </div>

  <div class="sysContent">
    <div class="row">
      <div class="col">
        <div class="sysSelect">
          <h5>System:</h5>
          <select class="form-control" #sysdrop (change)="getSystemOverview(sysdrop.value)">
            <option *ngFor="let system of systems" value={{system.uuid}}>
              {{system.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="sysBody" *ngIf="!noSystemsPresent">

  <!--<div class="sysBody" *ngIf="!noSystemsPresent">-->
    <div class="row">
      <!-- Left panel: sensor data -->
      <div class="col-md-8 sensorDataPanel" style="border-right:2px solid #ccc;">
          <h4 style="text-align:left">Sensor Data</h4>
          <p>test</p>
          <div class="col">
            <div class="row">
              <div *ngFor="let item of sensorItems; let i=index">
                <app-sensor-display [id]="i.toString()" [sensorItem]="item"></app-sensor-display>
              </div>
            </div>
          </div>
      </div>
      <!-- Right panel: actuators -->
      <div class="col-md-4 actuatorDrivePanel">
          <h4 style="text-align:left">Actuators</h4>
          <p>test</p>
      </div>

    </div>
  </div>

  <div class="noSysPresent" *ngIf="noSystemsPresent">
    <h4>No systems present</h4>
  </div>

</div>
</html>
